body {
    background-color: #100930;
    overflow-x: hidden;
    color: white;
    margin: 0;
}

section.header-wrapper .header {
    margin: 0;
    margin-top: 100px;
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-center{
    text-align: center;
    position: relative;
}

section.header-wrapper{
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    background-color: #1A1338;
}

#header-rectangle1 {
    box-sizing: border-box;

    position: absolute;
    width: 250px;
    height: 250px;
    left: 50px;
    top: 30px;

    background: linear-gradient(68.38deg, #4891FF 15%, #FE00AA 53.5%, #4891FF 80%);
    opacity: 1;
    filter: blur(120px);
    transform: rotate(52deg);
}


#header-rectangle2 {
    position: absolute;
    width: 350px;
    height: 350px;
    right: 10px;
    bottom: 30px;
    
    background: conic-gradient(#FE00AA 60deg, #7BCBFF 100deg, #7BCBFF 200deg, #FE00AA 220deg, #FE00AA 260deg, #4891FF 270deg, #4891FF 320deg, #FE00AA 350deg); /* linear-gradient(46.8deg, #FE00AA 3.24%, #4891FF 68.02%); */
    opacity: 0.7;
    filter: blur(251.357px);
    transform: rotate(60.21deg);
}

h1 {
    text-transform: uppercase;
    font-size: 48px;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
    margin-top: 100px;
}

h1 span.newline {
    display: block;
    margin:auto;
}

hr {
    background: linear-gradient(to right, #FE00AA, #4891FF);
    height: 4px;
    border: none;
    width: 106%;
    left: -3%;
    position: relative;
}

button.register {
    color: #FFFFFF;
    background: #432CA0;
    box-shadow: inset -10.4615px -10.4615px 10.4615px rgba(0, 0, 0, 0.25), inset 10.4615px 10.4615px 10.4615px rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    height: 50px;
    width: 200px;
    margin: 50px 0;
    cursor: pointer;
}

#made-by{
    position: absolute;
    font-weight: lighter;
    bottom: 30px;
    width: 100%;
}

p.lightgrey {
    color: #CCCCCC;
}

section.about {
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
}

section.about .text {
    margin-right:50px;
}

h2 {
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 50px;
}

.pinky {
    color: #FE00AA;
}

section.about .laptop{
    /* position: absolute;
    left: 45%;
    top: 0; */
    z-index: -1;
}

section.about .laptop img {
    width: 400px;
    max-width: 550px;
}

section.conditions {
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
}

section.conditions ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: transparent;
}

section.conditions ul li {
    width: 60%;
    display: flex;
    flex-flow: row nowrap;
    /* justify-content: space-between; */
}

section.conditions ul li.second {
    margin-left: 20%;
}

section.conditions ul li.third {
    margin-left: 40%;
}

section.conditions ul li img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

section.timeline {
    width: 80%;
    height: 800px;
    margin: 50px 10%;
    position: relative;
}

section.timeline .back-line{
    /* background: white;
    width: 266%;
    height: 1px;
    transform: rotate(20deg);
    position: absolute;
    bottom: 77px;
    right: -145%; */
    margin-left: -12.5%;
    width: 125%;
    height: 600px;
    background-image: url("../assets/angled-line1.png");
    background-repeat: no-repeat;
    background-size: 100% 400px;
    background-position-x: center;
    background-position-y: bottom;
    position: relative;
}

section.timeline .hexagon {
    height: 154px;
    width: 154px;
    -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    /* transform: rotate(28deg); */
     /* translateX(128px) translateY(20px); */
}

/* section.timeline .hex1 .hexagon {
    position: absolute;
    top: 3%;
    left: 3%;
    background-color: #432CA0;
} */

/* section.timeline .hex1 .hexagon p {
    width: 100%;
    height:100%;
} */

/* section.timeline .hex2 .hexagon {
    position: absolute;
    top: 22%;
    left: 22%;
    background-color: #7709FB;
}

section.timeline .hex3 .hexagon {
    position: absolute;
    top: 41%;
    left: 41%;
    background-color: #B43BCD;

}

section.timeline .hex4 .hexagon {
    position: absolute;
    top: 60%;
    left: 60%;
    background-color: #E118B8;

} */

section.timeline .hex1 .hexagon {
    position: absolute;
    /* bottom: 200px; */
    top: 246px;
    left: 10%;
    background-color: #432CA0;
}

section.timeline .hex2 .hexagon {
    position: absolute;
    top: 335px;
    /* bottom: 99.333px; */
    /* left:-webkit-calc(33%-51.3px);
    left:-moz-calc(33%-51.3px);
    left:calc(33%-51.3px); */
    left: 36.6%;
    transform: translateX(-51.3px);
    background-color: #7709FB;
}

section.timeline .hex3 .hexagon {
    position: absolute;
    top: 424px;
    /* bottom: 200px; */
    /* right: -webkit-calc(33%-51px);
    right: -moz-calc(33%-51px);
    right: calc(33%-51px); */
    right: 36.6%;
    transform: translateX(51.3px);
    background-color: #B43BCD;

}

section.timeline .hex4 .hexagon {
    position: absolute;
    top: 512px;
    right: 10%;
    background-color: #E118B8;
}

section.timeline .hex1 .num {
    position: absolute;
    transform: translateX(74px);
    top: 296px;
    left: 10%;
}

section.timeline .hex2 .num {
    position: absolute;
    top: 384px;
    left: 36.6%;
    transform: translateX(23.3px);
}

section.timeline .hex3 .num {
    position: absolute;
    top: 478px;
    right: 36.6%;
    transform: translateX(-23.3px);
}

section.timeline .hex4 .num {
    position: absolute;
    top: 562px;
    right: 10%;
    transform: translateX(-74px);
}

section.timeline .line {
    background-color: #FFFFFF;
    height: 150px;
    width: 0;
    border: solid #FFFFFF 2px;
    position: absolute;
    z-index: -1;
}

section.timeline .hex1 .line {
    top: 146px;
    left: 10%;
    transform: translateX(72px);
}

section.timeline .hex2 .line {
    top: 234px;
    left: 36.6%;
    transform: translateX(23.3px);
}

section.timeline .hex3 .line {
    top: 328px;
    right: 36.6%;
    transform: translateX(-25.3px);
}

section.timeline .hex4 .line {
    top: 412px;
    right: 10%;
    transform: translateX(-74px);
}

section.timeline .circle {
    height: 30px;
    width: 30px;
    position: absolute;
    border-radius: 50%;
}

section.timeline .hex1 .circle {
    top: 131px;
    left: 10%;
    transform: translateX(59px);
    background-color: #432CA0;
}

section.timeline .hex2 .circle {
    top: 219px;
    left: 36.6%;
    transform: translateX(10.3px);
    background-color: #7709FB;
}

section.timeline .hex3 .circle {
    top: 314px;
    right: 36.6%;
    transform: translateX(-12.3px);
    background-color: #B43BCD;
}

section.timeline .hex4 .circle {
    top: 399px;
    right: 10%;
    transform: translateX(-61px);
    background-color: #E118B8;
}

section.timeline .text {
    position: absolute;
    text-align: center;
    width: 200px;
}

section.timeline .text p {
    color: #888888;
    margin: 5px 0;
}

section.timeline .text h4 {
    margin: 0;
}

section.timeline .hex1 .text {
    top: 66px;
    left: 10%;
    transform: translateX(-26px);
}

section.timeline .hex2 .text {
    top: 154px;
    left: 36.6%;
    transform: translateX(-75px);
}

section.timeline .hex3 .text {
    top: 249px;
    right: 36.6%;
    transform: translateX(70px);
}

section.timeline .hex4 .text {
    top: 334px;
    right: 10%;
    transform: translateX(24px);
}

section.sponsors {
    width: 80%;
    margin: 50px 10%;
    position: relative;
}

section.sponsors .integral {
    position: absolute;
    z-index: -1;
    opacity: 0.1;
    top: -10px;
    width: 150%;
    transform: rotate(80deg) translateX(-30px) translateY(13%) scaleY(165%) scaleX(120%);
}

section.sponsors .container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

section.sponsors .sponsor.main p  {
    margin: 20px;
    font-size: 18px;
}

section.sponsors .sponsor {
    display: flex;
    flex-flow: column nowrap;
    width: 400px;
    margin: 10px 20px 40px 20px;
}

section.sponsors .sponsor .header  {
    display: flex;
    flex-flow: row nowrap;
    justify-content: baseline;
    align-items: center;
}

section.sponsors .sponsor .point  {
    background: linear-gradient(180deg, #B9078F 0%, #47218A 100%);
    border-radius: 5px;
    width: 40px;
    height: 40px;
    margin: 0 10px 0 20px;
}

section.sponsors .sponsor.submain .point {
    width: 60px;
    height: 60px;
    margin: 0 10px 0 0;
}

section.sponsors .sponsor .content{
    width: calc(100% - 70px);
    margin-left: 70px;
}

section.sponsors .sponsor img {
    max-height: 40px;
    max-width: 120px;
}

section.sponsors .sponsor.main img  {
    width: 120px;
    height: 120px;
    max-height: none;
    max-width: none;
    border-radius: 60px;
    margin: -10px 10px 5px -10px;
    float: left;
}

section.speakers {
    width: 80%;
    margin: 50px 10%;
}

section.speakers .container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

section.speakers .speaker, section.sponsors .sponsor.main {
    background: radial-gradient(261.61% 98.05%  at 1.95% 3.59%, #100930 0%, #6A667E 100%);
    border-radius: 70px;
    background-clip: padding-box;
    border: solid 4px transparent;
    min-height: 200px;
    position: relative;
    box-sizing: border-box;
    width: 400px;
    max-width: 100%;
    display: flex;
    flex-flow: column nowrap;
    margin: 10px;
}

section.sponsors .sponsor.main {
    display: inline;
    margin-bottom: 40px;
}

section.speakers .speaker:before, section.sponsors .sponsor.main:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -4px;
    border-radius: inherit;
    background: radial-gradient(261.61% 98.05%  at 1.95% 3.59%, #513150 0%, #1E141B 100%);
  }

section.speakers .header{
    display: flex;
    flex-flow: row nowrap;
    margin: -10px 0 0 -10px;
}

section.speakers .speaker img  {
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

section.speakers .speaker h4 {
    font-size: 24px;
    margin: 20px 20px 10px 10px;
}

section.speakers .speaker h5 {
    font-size: 20px;
    margin: 0 20px 0 10px;
}

.pinky.gradient {
    background: -webkit-linear-gradient(91.88deg, #FE00AA 0.71%, #5234EB 88.05%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section.speakers .speaker .about {
    margin: 0 20px 20px 20px;
    display: flex;
    flex-flow: column nowrap;
    width: calc(100% - 40px);
}

section.infopartners {
    width: 80%;
    margin: 50px 10%;
}

section.infopartners .infopartners-text {
    background-image: url("../assets/text-info (2).png");
    background-repeat:repeat-x; 
    min-width: 125%; 
    margin: 30px -12.5%;
    height: 30px;
    background-size: contain;
}

section.infopartners .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

section.infopartners .infopartner a {
    display: block;
    margin:10px;
}

section.infopartners .infopartner img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

section.infopartners .infopartner.circled img {
    border: 1px #FFFFFF solid;
}

section.infopartners .infopartner p {
    width: 100px;
    text-align: center;

}

section.register {
    height: 200px;
    padding: 40px 10%;
    background-image: url("../assets/register-back.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #432CA0;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.register h2{
    text-align: center;
    margin: 0 0 40px 0;
    font-size: 36px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #FFFFFF;
    text-shadow: 0 0 2px transparent, 0 0 10px #FE00AA;
}

section.register button {
    background: linear-gradient(0deg, #FE00AA, #FE00AA), linear-gradient(100.41deg, #5234EB 0%, rgba(0, 163, 255, 0) 100%);
    box-shadow: inset -7.38971px -7.38971px 7.38971px rgba(0, 0, 0, 0.25), inset 7.38971px 7.38971px 7.38971px rgba(255, 255, 255, 0.5);
    color: #FFFFFF;
    border-radius: 33px;
    height: 50px;
    width: 200px;
    cursor: pointer;
    padding: 0 30px;
}

@media screen and (max-width: 1000px) {
    section.sponsors .integral {
        transform: rotate(82deg) translateX(450px) translateY(14%) scaleY(175%) scaleX(200%);
    }

    section.timeline .hexagon {
        height: 124px;
        width: 124px;
    }
    
    section.timeline .hex1 .hexagon {
        top: 248px;
    }

    section.timeline .hex2 .hexagon {
        transform: translateX(-41.3px);
    }
    
    section.timeline .hex3 .hexagon {
        transform: translateX(41.3px);
    }
    
    section.timeline .hex4 .hexagon {
        top: 510px;
    }

    section.timeline .hex1 .num {
        transform: translateX(56px);
        top: 286px;
    }
    
    section.timeline .hex2 .num {
        top: 370px;
        transform: translateX(13.3px);
    }
    
    section.timeline .hex3 .num {
        top: 460px;
        transform: translateX(-15.3px);
    }
    
    section.timeline .hex4 .num {
        top: 544px;
        transform: translateX(-56px);
    }

    section.timeline .line {
        height: 120px;
    }

    section.timeline .hex1 .line {
        top: 156px;
        left: 10%;
        transform: translateX(58px);
    }
    
    section.timeline .hex2 .line {
        top: 244px;
        left: 36.6%;
        transform: translateX(17.3px);
    }
    
    section.timeline .hex3 .line {
        top: 338px;
        right: 36.6%;
        transform: translateX(-20.3px);
    }
    
    section.timeline .hex4 .line {
        top: 422px;
        right: 10%;
        transform: translateX(-60px);
    }

    section.timeline .circle {
        height: 24px;
        width: 24px;
    }
    
    section.timeline .hex1 .circle {
        top: 144px;
        transform: translateX(48px);
    }
    
    section.timeline .hex2 .circle {
        top: 232px;
        transform: translateX(7.3px);
    }
    
    section.timeline .hex3 .circle {
        top: 326px;
        transform: translateX(-10.3px);
    }
    
    section.timeline .hex4 .circle {
        top: 410px;
        transform: translateX(-50px);
    }

    section.timeline .hex1 .text {
        top: 79px;
        transform: translateX(-37px);
    }
    
    section.timeline .hex2 .text {
        top: 167px;
        transform: translateX(-83px);
    }
    
    section.timeline .hex3 .text {
        top: 262px;
        transform: translateX(76px);
    }
    
    section.timeline .hex4 .text {
        top: 347px;
        transform: translateX(38px);
    }
}

@media screen and (max-width: 800px) {
    section.about .text {
        width: 100%;
        margin:0;
        /* margin-left: 10%; */
    }

    section.about .laptop {
        position: absolute;
        top: 20%;
        width: 100%;
        
    }

    section.about .laptop img {
        opacity: 0.3;
        width: 75%;
        margin-left: 12.5%;
    }

    section.conditions ul li {
        width: 80%;
    }
    
    section.conditions ul li.second {
        margin-left: 10%;
    }
    
    section.conditions ul li.third {
        margin-left: 20%;
    }

    section.infopartners .infopartners-text {
        background-image: url("../assets/text-info.png");
        /* background-repeat:repeat-x;  */
        width: 200px;
        margin: 15px -12.5%;
        height: 20px;
        background-size: 800px 14.5px;
    }

    section.timeline .hex1 .hexagon {
        top: 252px;
    }
    
    section.timeline .hex3 .hexagon {
        top: 418px;
    }
    
    section.timeline .hex4 .hexagon {
        top: 500px;
    }
    
    section.timeline .hex3 .num {
        top: 454px;
    }
    
    section.timeline .hex4 .num {
        top: 536px;
    }
}

@media screen and (max-width: 600px) {
    #header-rectangle1 {    
        width: 150px;
        height: 150px;
        left: 20px;
        top: 20px;
    }
    
    #header-rectangle2 {
        width: 250px;
        height: 250px;
        right: 0px;
        bottom: 10px;
    }

    h1 {
        font-size: 36px;
        margin-top: 80px;
    }

    button.register {
        font-size: 10px;
        border-radius: 25px;
        height: 40px;
        width: 140px;
    }

    section.header-wrapper .header {
        height: 400px;
    }
    
    p.lightgrey {
        font-size: smaller;
    }

    h2 {
        font-size: 24px;
        margin-top: 30px;
    }

    section.conditions ul li {
        width: 100%;
    }
    
    section.conditions ul li.second {
        margin-left: 0;
    }
    
    section.conditions ul li.third {
        margin-left: 0;
    }

    section.conditions ul li img {
        width: 50px;
        height: 50px;
        margin-right: 5px;
    }

    section.sponsors .sponsor.main img  {
        width: 90px;
        height: 90px;
    }

    section.conditions ul li h4 {
        margin-top: 10px;
    }

    section.register {
        margin: 20px 0;
        height: 140px;
    }

    section.register h2 {
        font-size: 24px;
        -webkit-text-stroke-width: 1px;
    }

    section.register button {
        font-size: 12px;
        height: 40px;
        width: 180px;
    }

    section.infopartners .infopartner img {
        width: 60px;
        height: 60px;
        margin: 0 10px;
    }

    section.speakers .speaker img {
        width: 90px;
        height: 90px;
    }

    section.sponsors .integral {
        top: -1200px;
        height: 1600px;
        width: 1600px;
        transform: rotate(150deg) translateX(55%) translateY(10%); /*scaleX(250%) scaleY(250%)*/
    }

    section.timeline {
        height: 650px;
    }

    section.timeline .hexagon {
        height: 84px;
        width: 84px;
    }
    
    section.timeline .hex1 .hexagon {
        top: 254px;
    }

    section.timeline .hex2 .hexagon {
        transform: translateX(-28px);
    }
    
    section.timeline .hex3 .hexagon {
        transform: translateX(28px);
    }
    
    section.timeline .hex4 .hexagon {
        top: 504px;
    }

    section.timeline .hex1 .num {
        transform: translateX(38px);
        top: 270px;
    }
    
    section.timeline .hex2 .num {
        top: 350px;
        transform: translateX(10.3px);
    }
    
    section.timeline .hex3 .num {
        top: 434px;
        transform: translateX(-8.3px);
    }
    
    section.timeline .hex4 .num {
        top: 520px;
        transform: translateX(-38px);
    }

    /* section.timeline .line {
        /* height: 120px;
        transform: rotate(30deg);
    } */

    section.timeline .hex1 .line {
        transform: rotate(30deg) translateX(73px);
    }
    
    section.timeline .hex2 .line {
        transform: rotate(30deg) translateX(45.3px);
    }
    
    section.timeline .hex3 .line {
        transform: rotate(30deg) translateX(18.3px);
    }
    
    section.timeline .hex4 .line {
        transform: rotate(30deg) translateX(-4.6px);
    }

    section.timeline .circle {
        height: 18px;
        width: 18px;
    }
    
    section.timeline .hex1 .circle {
        top: 190px;
        left: 10%;
        transform: translateX(86px);
    }
    
    section.timeline .hex2 .circle {
        top: 260px;
        left: 36.6%;
        transform: translateX(66.3px);
    }
    
    section.timeline .hex3 .circle {
        top: 346px;
        right: 36.6%;
        transform: translateX(54.3px);
    }
    
    section.timeline .hex4 .circle {
        top: 425px;
        right: 10%;
        transform: translateX(30px);
    }

    section.timeline .text{
        text-align: right;
        font-size: 14px;
        width: 120px;
    }

    section.timeline .hex1 .text {
        top: 123px;
        transform: translateX(-15px);
    }
    
    section.timeline .hex2 .text {
        top: 180px;
        transform: translateX(-36px);
    }
    
    section.timeline .hex3 .text {
        top: 286px;
        transform: translateX(53px);
    }
    
    section.timeline .hex4 .text {
        top: 365px;
        transform: translateX(30px);
    }
}

@media screen and (max-width: 400px) {
    .header-center {
        max-width: 260px;
    }

    h1 {
        margin-top: 40px;
    }
    
    .register {
        margin-top: 20px;
    }

    section.sponsors .sponsor.submain .point {
        width: 40px;
        height: 40px;
        margin: 0 10px 0 0;
    }

    section.sponsors .sponsor .point {
        width: 30px;
        height: 30px;
        margin: 0 10px 0 10px;
    }

    section.sponsors .sponsor img {
        max-height: 30px;
        max-width: 120px;
      }

    section.speakers .speaker {
        border-radius: 45px;
    }

    section.speakers .speaker h4 {
        font-size: 18px;
        margin: 10px 10px 5px 5px;
        width: calc(100% - 15px);
    }
    
    section.speakers .speaker h5 {
        font-size: 16px;
        margin: 0 10px 0 5px;
        width: calc(100% - 15px);
    }

    section.speakers .speaker .about {
        margin: 0 10px 0 10px;
    }

    section.timeline .hex1 .hexagon {
        top: 260px;
    }

    section.timeline .hex2 .hexagon {
        transform: translateX(-28px);
    }
    
    section.timeline .hex3 .hexagon {
        top: 408px;
    }
    
    section.timeline .hex4 .hexagon {
        top: 494px;
    }

    section.timeline .hex1 .num {
        top: 276px;
    }
    
    
    section.timeline .hex3 .num {
        top: 424px;
    }
    
    section.timeline .hex4 .num {
        top: 510px;
    }

    section.timeline .text{
        text-align: right;
        font-size: 12px;
        width: 80px;
    }

    section.timeline .hex1 .text {
        top: 133px;
        transform: translateX(25px);
    }
    
    section.timeline .hex2 .text {
        top: 190px;
        transform: translateX(20px);
    }
}

@media screen and (max-width: 300px) {
    section.about{
        margin-left: 10px;
        margin-right: 10px;
        width: auto;
    }

    section.conditions {
        margin-left: 10px;
        margin-right: 10px;
        width: auto;
    }

    section.timeline {
        margin-left: 10px;
        margin-right: 10px;
        width: auto;
        height: 550px;
    }

    section.timeline .back-line {
        height: 500px;
    }

    section.timeline .hexagon {
        height:54px;
        width: 54px;
    }

    section.timeline .hex1 .hexagon {
        top: 160px;
    }

    section.timeline .hex2 .hexagon {
        top: 226px;
        transform: translateX(-28px);
    }
    
    section.timeline .hex3 .hexagon {
        top: 294px;
        transform: translateX(0px);
    }
    
    section.timeline .hex4 .hexagon {
        top: 359px;
        transform: translateX(-32px);
    }

    section.timeline .hex1 .num {
        top: 162px;
        transform: translateX(24px);
    }
    
    section.timeline .hex2 .num {
        top: 226px;
        transform: translateX(-6px);
    }
    
    section.timeline .hex3 .num {
        top: 294px;
        transform: translateX(-22px);
    }
    
    section.timeline .hex4 .num {
        top: 361px;
        transform: translateX(-54px);
    }

    section.timeline .line {
        height: 100px;
        width: 0;
        border-width: 1px;
    }
    
    section.timeline .hex1 .line {
        top: 56px;
        transform: rotate(30deg) translateX(63px);
    }
    
    section.timeline .hex2 .line {
        top: 144px;
        transform: rotate(30deg) translateX(26.3px);
    }
    
    section.timeline .hex3 .line {
        top: 238px;
        transform: rotate(30deg) translateX(-7px);
    }
    
    section.timeline .hex4 .line {
        top: 322px;
        transform: rotate(30deg) translateX(-45px);
    }
    
    section.timeline .circle {
        height: 18px;
        width: 18px;
    }
    
    section.timeline .hex1 .circle {
        top: 85px;
        transform: translateX(70px);
    }
    
    section.timeline .hex2 .circle {
        top: 153px;
        transform: translateX(40px);
    }
    
    section.timeline .hex3 .circle {
        top: 229px;
        transform: translateX(28px);
    }
    
    section.timeline .hex4 .circle {
        top: 295px;
        transform: translateX(-3px);
    }

    section.timeline .text{
        width: 80px;
    }

    section.timeline .hex1 .text {
        top: 33px;
        transform: translateX(10px);
    }
    
    section.timeline .hex2 .text {
        top: 85px;
        transform: translateX(20px);
    }

    section.timeline .hex3 .text {
        top: 175px;
        transform: translateX(40px);
    }

    section.timeline .hex4 .text {
        top: 240px;
        transform: translateX(0px);
    }

    section.sponsors {
        margin-left: 10px;
        margin-right: 10px;
        width: auto;
    }

    section.sponsors .sponsor{
        width: auto;
        margin: 10px 0 30px 0;
    }

    section.sponsors .sponsor.main img  {
        width: 70px;
        height: 70px;
    }

    section.sponsors .sponsor.main p  {
        font-size: 14px;
    }
    section.sponsors .sponsor p  {
        font-size: 13px;
    }

    section.speakers{
        margin-left: 10px;
        margin-right: 10px;
        width: auto;
    }

    section.speakers .speaker img  {
        width: 70px;
        height: 70px;
    }

    section.speakers .speaker .about  {
        width: calc(100% - 20px);
    }

    section.speakers .speaker p  {
        font-size: 14px;
    }
    
    section.infopartners{
        margin-left: 10px;
        margin-right: 10px;
        width: auto;
    }
}