section.sponsors {
    width: 80%;
    margin: 50px 10%;
    position: relative;
}

section.sponsors .integral {
    position: absolute;
    z-index: -1;
    opacity: 0.1;
    top: -10px;
    width: 150%;
    transform: rotate(80deg) translateX(-30px) translateY(13%) scaleY(165%) scaleX(120%);
}

section.sponsors .container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

/* section.sponsors .sponsor.main p  {
    margin: 20px;
    font-size: 18px;
} */

section.sponsors .sponsor {
    display: flex;
    flex-flow: column nowrap;
    width: 400px;
    margin: 10px 20px 40px 20px;
}

section.sponsors .sponsor .header  {
    display: flex;
    flex-flow: row nowrap;
    justify-content: baseline;
    align-items: center;
}

section.sponsors .sponsor .point  {
    background: linear-gradient(180deg, #B9078F 0%, #47218A 100%);
    border-radius: 5px;
    width: 40px;
    height: 40px;
    margin: 0 10px 0 20px;
}

section.sponsors .sponsor.main .point {
    width: 60px;
    height: 60px;
    margin: 0 10px 0 0;
}

section.sponsors .sponsor .content{
    width: calc(100% - 70px);
    margin-left: 70px;
}

section.sponsors .sponsor img {
    max-height: 40px;
    max-width: 120px;
}

section.sponsors .sponsor.main img {
    min-height: 40px;
    max-height: 60px;
    max-width: 150px;
}

/* section.sponsors .sponsor.main img  {
    width: 120px;
    height: 120px;
    max-height: none;
    max-width: none;
    border-radius: 60px;
    margin: -10px 10px 5px -10px;
    float: left;
}

section.sponsors .sponsor.main {
    background: radial-gradient(261.61% 98.05%  at 1.95% 3.59%, #100930 0%, #6A667E 100%);
    border-radius: 70px;
    background-clip: padding-box;
    border: solid 4px transparent;
    min-height: 200px;
    position: relative;
    box-sizing: border-box;
    width: 400px;
    max-width: 100%;
    display: inline;
    flex-flow: column nowrap;
    margin: 10px 10px 40px 10px;
}

section.sponsors .sponsor.main:before{
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -4px;
    border-radius: inherit;
    background: radial-gradient(261.61% 98.05%  at 1.95% 3.59%, #513150 0%, #1E141B 100%);
} */

@media screen and (max-width: 1000px) {
    section.sponsors .integral {
        transform: rotate(82deg) translateX(450px) translateY(14%) scaleY(175%) scaleX(200%);
    }
}

@media screen and (max-width: 600px) {
    /* section.sponsors .sponsor.main img  {
        width: 90px;
        height: 90px;
    } */

    section.sponsors .integral {
        top: -1200px;
        height: 1600px;
        width: 1600px;
        transform: rotate(150deg) translateX(55%) translateY(10%);
    }
}

@media screen and (max-width: 400px) {
    section.sponsors .sponsor.main .point {
        width: 40px;
        height: 40px;
        margin: 0 10px 0 0;
    }

    section.sponsors .sponsor .point {
        width: 30px;
        height: 30px;
        margin: 0 10px 0 10px;
    }

    section.sponsors .sponsor img {
        max-height: 30px;
        max-width: 120px;
    }
}

@media screen and (max-width: 300px) {
    section.sponsors {
        margin-left: 10px;
        margin-right: 10px;
        width: auto;
    }

    section.sponsors .sponsor{
        width: auto;
        margin: 10px 0 30px 0;
    }

    /* section.sponsors .sponsor.main img  {
        width: 70px;
        height: 70px;
    }

    section.sponsors .sponsor.main p  {
        font-size: 14px;
    } */
    section.sponsors .sponsor p  {
        font-size: 13px;
    }
}